@model List<Reservation>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div style="display:flex; justify-content:space-between;align-items:center">
                        <h5 class="card-title">Reservations</h5>
                        <a asp-action="Create" class="btn rounded-pill btn-primary" style="color:white;margin-right:10px;display;flex">Create</a>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Room Name
                                </th>
                                <th>
                                    Check In
                                </th>
                                <th>
                                    Check Out
                                </th>
                                <th>
                                    Adult Count
                                </th>
                                <th>
                                    Child Count
                                </th>
                                <th style="display:flex; justify-content:end; width:93%">
                                    Actions
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (Reservation reservation in Model)
                            {
                                <tr>
                                    <td>
                                        @reservation.Name
                                    </td>
                                    <td>
                                        @if (reservation.IsDeactive)
                                        {
                                            <a class="text-danger">Passive</a>
                                        }
                                        else
                                        {
                                            <a class="text-success">Active</a>
                                        }
                                    </td>
                                    <td>
                                        @reservation.Email
                                    </td>
                                    <td>
                                        @reservation.Room.Name
                                    </td>
                                    <td>
                                        @reservation.CheckIn
                                    </td>
                                    <td>
                                        @reservation.CheckOut
                                    </td>
                                    <td>
                                        @reservation.Adults
                                    </td>
                                    <td>
                                        @reservation.Children
                                    </td>
                                    <td style="display:flex; justify-content:end">

                                        <a asp-action="Edit" asp-route-id="@reservation.Id" class="btn rounded-pill btn-info" style="color:white;margin-right:10px;display;flex;width:35%">Edit</a>
                                        <a asp-action="Details" asp-route-id="@reservation.Id" class="btn rounded-pill btn-warning" style="color:white;margin-right:10px;display;flex;width:35%">Details</a>
                                        @if (reservation.IsDeactive)
                                        {
                                            <a asp-action="Activity" asp-route-id="@reservation.Id" class="btn rounded-pill btn-success" style="color:white;margin-right:10px;display;flex;width:40%">To Active</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Activity" asp-route-id="@reservation.Id" class="btn rounded-pill btn-danger" style="color:white;margin-right:10px;display;flex;width:40%">To Deactive</a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>